body{

background:#080808;
color:white;
font-family:Arial;
padding:40px;

}


h1{
font-size:40px;
}


#beats{

display:flex;
flex-wrap:wrap;
gap:30px;

}


.beat{

background:#151515;
padding:20px;
border-radius:15px;
width:280px;

}


.beat img{

width:100%;
border-radius:10px;

}


audio{

width:100%;
margin:15px 0;

}


.buy{

display:block;
background:#ff3b3b;
padding:12px;
margin-top:10px;
text-align:center;
color:white;
text-decoration:none;
border-radius:8px;

}
